<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div id="app">
    <div>
        <a class="btn btn-link btn-sm" @click="search('coldplay')">Coldplay</a>
        <a class="btn btn-link btn-sm" @click="search('oasis')">Oasis</a>
        <a class="btn btn-link btn-sm" @click="search('queen')">Queen</a>
        <a class="btn btn-link btn-sm" @click="search('u2')">U2</a>
        <a class="btn btn-link btn-sm" @click="ftracks(item.id)" v-for="item in items">{{ item.name }}</a>
    </div>
    <br/>
    <table class="table">
        <tr :class="{'bg-warning':(track.order===0), 'bg-danger':(track.order<0), 'bg-success':(track.order>0)}" v-for="track in tracks">
            <td>{{ track.start }}</td>
            <td>{{ track.author }} </td>
            <td>{{ track.title }}</td>
            <td>{{ track.length }}</td>
            <td><a class="btn btn-link btn-sm" :href="'https://www.rmfon.pl/play,' + track.stationId" target="_blank">{{ track.stationName }}</a></td>
            <td>{{ track.votes }}</td>
            <td>{{ track.points }}</td>
            <td>{{ track.average }}</td>
        </tr>
    </table>
</div>
</body>
<script src="js/main.js"></script>
</html>